<aside id="cta" class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
<!-- Begin MailChimp Signup Form -->

        <div id="mailchimp">
            <form action="https://thehackingproject.us18.list-manage.com/subscribe/post?u=5eb7fc76bc5dd324204a9f5c1&amp;id=5a6f0ccd6b" method="post" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="form-group"></div>
                <h2 class="section-heading">Get started now</h2>
                <input type="email" height="40" value="" name="EMAIL" class="form-control" placeholder="Your email here" required >
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_5eb7fc76bc5dd324204a9f5c1_5a6f0ccd6b" tabindex="-1" value=""></div>&nbsp; &nbsp;
                <div class="clear"><input type="submit" value="Subscribe" name="subscribe" class="btn btn-default btn-xl wow tada"></div>
                </div>
            </form>
        </div>

<!--End mc_embed_signup-->
        </div>
    </div>
</aside>